h1 {
  margin-left: 25px;
  margin-bottom: 0;
  margin-top: 0;
}
.user-input {
  color: #fff;
  position: absolute;
  bottom: 1em;
  margin-left: 25px;
}

#player {
  background-color: #FF00D4;
  position: absolute;
  left: 10%;
  top: 534px;
  height:16px;
  width:16px;
  animation:;
  animation-fill-mode: forwards;
}

#pit-of-despair {
  background-color: #f00;
  position: absolute;
  left:30%;
  top:600px;
  height: 100%;
  width: 15%;
  z-index:-999;
  animation: color 4s infinite linear;
}

#left-hand-land {
  background-color: #000;
  position: absolute;
  left:0;
  top:550px;
  height: 100%;
  width: 30%;
  z-index:-999;
}

#right-hand-land {
  background-color: #000;
  position: absolute;
  left:45%;
  top: 550px;
  height: 100%;
  width: 55%;
  z-index:-999;
}

#castle {
  background-color: #ffd700;
  position: absolute;
  left:700px;
  top: 450px;
  height: 100px;
  width: 200px;
  z-index:-999;
}

#go-button {
  margin-left: 25px;
}

#reset-button {
  margin-;eft: 5px;
}

@keyframes color {
	0%   { background: #C81318; }
	20%  { background: #E32219; }
	40%  { background: #F12703; }
  60%   { background: #FE380B; }
  80%   { background: #F12114; }
  100%   { background: #C81318; }
}

@keyframes runaway {
  0% { left: 10%; }
  20% { left: 20%; }
  40% { left: 40%; }
  60% { left: 60%; }
  80% { left: 80%; }
  100% { left: 90%; }
}