body {
  margin-left: 25px;
}

h1 {
  margin: 0;
}

.user-input {
  color: #fff;
  position: absolute;
  bottom: 1em;
}

#pit-of-despair {
  background-color: #f00;
  position: absolute;
  left:30%;
  bottom:0;
  height: 175px;
  width: 15%;
  z-index:-999;
  animation: color 4s infinite linear;
}

#left-hand-land {
  background-color: #000;
  position: absolute;
  left:0;
  bottom:0;
  height: 250px;
  width: 30%;
  z-index:-999;
}

#right-hand-land {
  background-color: #000;
  position: absolute;
  left:45%;
  bottom:0;
  height: 250px;
  width: 55%;
  z-index:-999;
}

@keyframes color {
	0%   { background: #C81318; }
	20%  { background: #E32219; }
	40%  { background: #F12703; }
  60%   { background: #FE380B; }
  80%   { background: #F12114; }
  100%   { background: #C81318; }
}